@model IEnumerable<_418FinalProject.Models.TestResults>

@{
    ViewData["Title"] = "Result";
}

<h1>Test Answers</h1>

<p>

</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th>
                Correct Answer
            </th>
            <th>

            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Question)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Answer1Text)
                </td>
                <td></td>
            </tr>
        }
    </tbody>
</table>