img.resize {
	width:150px;
	height:111px;
	display: block;
	margin-left:auto;
	margin-right:auto;
}

h1 {
	margin-left: auto;
	margin-right:auto;
	font-size:50px;
	line-height:100%;
	font-family:georgia;
	color:#46166b
}

h2 {
	margin-left: auto;
	margin-right:auto;
	font-size:30px;
	line-height:100%;
	font-family:georgia;	font-family:georgia;;
}

h3 {
	margin-left: auto;
	margin-right:auto;
	font-size:20px;
	line-height:100%;
	font-weight:400;
	font-family:georgia;
}

h4,h5,h5 {
	margin-left: auto;
	margin-right:auto;
	font-size:13px;
	line-height:100%;
	font-family:georgia;
}

body {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background:linear-gradient(-90deg,#9c93bc, white); 
	color: #333235;
	font-family: georgia;
	-webkit-font-smoothing:antialiased; 
	-moz-osx-font-smoothing: grayscale;
}

a:link {
  text-decoration: underline;
  color: #5727ba;
}

a:visited {
  text-decoration: underline;
  color: #7e63b5;
}

a:hover, a:active {
  text-decoration: underline;
  color: #210951;
}