@{
    ViewData["Title"] = "Create Test";
    IEnumerable<Question> questions = ViewData["Questions"] as IEnumerable<Question>;
}
@using _418FinalProject.Models;
@model Test;

<h4>Test</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddTest" id="create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TestID" class="control-label"></label>
                <input asp-for="TestID" class="form-control" />
                <span asp-validation-for="TestID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TestTitle" class="control-label"></label>
                <input asp-for="TestTitle" class="form-control" />
                <span asp-validation-for="TestTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Questions" class="control-label"></label>
                <input asp-for="Questions" class="control-label" type="hidden"/>
                <span asp-validation-for="Questions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<table class="table">
    <caption>Select Questions to be added to the Test from below</caption>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(q => questions.First().QuestionID)
            </th>
            <th>
                @Html.DisplayNameFor(q => questions.First().QuestionText)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in questions)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionText)
                </td>
                <td>
                    <input class="control-label" type="checkbox" form="create"/>
                </td>
            </tr>
        }
    </tbody>
</table>

<input type="submit" value="Save" class="btn btn-primary" form="create" />

<div>
    <a asp-action="Index">Back to List</a>
</div>
