@model IEnumerable<_418FinalProject.Models.TestResults>

@{
    ViewData["Title"] = "Index";
}

<h1>Completed Tests</h1>

<p>
    
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Test_Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Test_Title)
            </td>
            <td>
                
                <a asp-action="Details" asp-route-id="@item.TestID">Answers</a>
                
            </td>
        </tr>
}
    </tbody>
</table>
