@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Create Question";
}

@using _418FinalProject.Models;
@model Question;

<h4>Question</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddQuestion">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="QuestionID" class="control-label"></label>
                <input asp-for="QuestionID" class="form-control" />
                <span asp-validation-for="QuestionID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestionText" class="control-label"></label>
                <input asp-for="QuestionText" class="form-control" />
                <span asp-validation-for="QuestionText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrueFalse" class="control-label"></label>
                <input asp-for="TrueFalse" class="form-control" />
                <span asp-validation-for="TrueFalse" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Answer1Text" class="control-label"></label>
                <input asp-for="Answer1Text" class="form-control" />
                <span asp-validation-for="Answer1Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer2Text" class="control-label"></label>
                <input asp-for="Answer2Text" class="form-control" />
                <span asp-validation-for="Answer2Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer3Text" class="control-label"></label>
                <input asp-for="Answer3Text" class="form-control" />
                <span asp-validation-for="Answer3Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer4Text" class="control-label"></label>
                <input asp-for="Answer4Text" class="form-control" />
                <span asp-validation-for="Answer4Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
