@* Admin Index View *@

@{
    ViewData["Title"] = "Software Engineering - ICSI 418Y";
}

<style>
    .admin {
        display: inline-block;
        padding: 5px 50px 5px 50px;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<div style="text-align: center">
    <a class="admin" href="/user/index"><h2>Users</h2></a> 
    <a class="admin" href="/question/index"><h2>Questions</h2></a>
    <a class="admin"><h2>Tests</h2></a>
</div>












