@model IEnumerable<_418FinalProject.Models.Question>

@{
    ViewData["Title"] = "Software Engineering - ICSI 418Y";
}

<!-- Admin Index View -->

<h2>Users</h2>

<h2>Questions</h2>

<h2>Tests</h2>




