@* Login Index View *@

@using _418FinalProject.Models;
@model LoginViewModel;

<h1 class="display-4">Welcome!</h1>

<form asp-action="UserLogin" asp-controller="Login">
    <b>Username</b> <input asp-for="Username" placeholder="Enter Username"/><br/>
    <b>Password</b> <input asp-for="Password" placeholder="Enter Password"/><br/>
    <button type ="submit">Login</button>
</form>